body {
    align-items: center;
    display: flex;
    justify-content: center;
    border-bottom: 50px solid rgb(155, 154, 154);;
    border-top: 50px solid rgb(155, 154, 154);;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    margin: 40px 0;
    padding: 22px 70px 78px;
    width: 100%;
}

.on-table {
    align-items: flex-end;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    max-width: 1000px;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    margin-left: 5px;
}

.table-icon {
    background-image: url('assets/icons/backgroundImage.png');
    background-size: cover;
    width: 22px;
    height: 22px;
    filter: brightness(0) saturate(100%) invert(60%) sepia(2%) saturate(0%) hue-rotate(0deg) brightness(61%) contrast(90%);
}

table {
    border: 1px solid rgb(172, 170, 170);
    border-radius: 10px;
    border-collapse: collapse;
    width: 100%;
    min-width: 1000px;
    table-layout: fixed;
}

td, th {
    white-space: nowrap;
    color: rgb(90, 90, 90);
}

th {
    border: none;
    padding: 1px;
    text-align: right;
    background-color: #e6e6e6;
    padding-right: 5px;
    justify-content: flex-end;
    font-family: Helvetica, Arial, sans-serif;
}

th:last-of-type, td:last-of-type {
    padding-right: 20px;
}

tbody tr:nth-child(even){
    background-color: #e6e6e6;
}

td {
    border: none;
    padding: 5px;
    text-align: right;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif
}

.user-block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
}

.user-info {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5px;
}

.top-string {
    display: flex; 
    align-items: center;
    gap: 5px; 
}

.bottom-string {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.rating-icon {
    width: 16px;
    filter: brightness(0) saturate(100%) invert(60%) sepia(2%) saturate(0%) hue-rotate(0deg) brightness(61%) contrast(90%);
}

.sub-btn {
    background: rgb(174, 174, 174);
    border-radius: 20px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.sub-btn:hover {
    background: rgb(65, 179, 65);
}

.subscribed {
    background: rgb(65, 179, 65);
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 13px;
}

.subscribed:hover {
    background: rgb(156, 9, 9);
}

.on-table-headline {
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(118, 118, 118);;
}


