html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(73, 72, 72);;
}

@media (max-width: 480px) {
    html {
        font-size: 14px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 80px);
    padding: 40px 0;    
    background-color: white;
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 10px;
    max-width: 1000px;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    margin-left: 5px;
}

@media (max-width:480px) {
    .header {
        max-width: 90%;
    }
}

.header-headline {
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(118, 118, 118);;
}

.table-icon {
    background-image: url('assets/icons/backgroundImage.png');
    background-size: cover;
    width: 22px;
    height: 22px;
    filter: brightness(0) saturate(100%) invert(60%) sepia(2%) saturate(0%) hue-rotate(0deg) brightness(61%) contrast(90%);
}

table {
    border: 1px solid rgb(172, 170, 170);
    border-radius: 10px;
    border-collapse: collapse;
    width: 100%;
    min-width: 580px;
    max-width: 1000px;
    table-layout: fixed;
}

@media (max-width: 480px) {
    table {
        min-width: 90%;
        max-width: 90%;
    }
}

th {
    padding: 1px;
    background-color: #e6e6e6;
}

@media (max-width:480px) {
    th, td {
        display: flex;
        flex-direction: row;
        padding: 3px;
        font-size: 12px;
        width: 15%;
        align-content: center;
    }

    tr {
        display: flex;
    }

    td:first-of-type, th:first-of-type {
        flex-grow: 1;
    }
}

th, td {
    border: none;
    text-align: right;
    padding-right: 5px; 
    white-space: nowrap;
}

td {
    padding: 5px;
}

@media (max-width: 480px) {
    td {
        padding: 4px;
    }
}

th:last-of-type, td:last-of-type {
    padding-right: 20px;
}

@media (max-width: 480px) {
    th:last-of-type, td:last-of-type {
        padding-right: 5px;
    }
}

tbody tr:nth-child(even){
    background-color: #e6e6e6;
}

.user-block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
}

@media (max-width: 480px) {
    .avatar {
        width: 30px;
        height: 30px;
    }
}

.user-info {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5px;
}

.name-btn-container {
    display: flex; 
    align-items: center;
    gap: 5px; 
}

@media (max-width:480px) {
    .name {
        max-width: 87px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.icon-rating-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rating-icon {
    width: 16px;
    filter: brightness(0) saturate(100%) invert(60%) sepia(2%) saturate(0%) hue-rotate(0deg) brightness(61%) contrast(90%);
}

.sub-btn {
    background: rgb(174, 174, 174);
    border-radius: 20px;    
    font-size: 12px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.sub-btn:hover {
    background: rgb(65, 179, 65);
}

.subscribed {
    background: rgb(65, 179, 65);
    color: white;
}

.subscribed:hover {
    background: rgb(156, 9, 9);
}


